div.instruct {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 700px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, gray);
}

div.summary {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, gray);
}

div.power {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, gray);
}

div.solar {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, gray);
}
