div.instruct {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 700px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, gray);
}

div.summary {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, gray);
}

div.power {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, gray);
}

div.solar {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, gray);
}

#description {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.95;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
